# =============================================================================
# NuevaMente — Variables de entorno
# ========================================================

# LLM
GOOGLE_API_KEY="tu-google-api-key"

# Embeddings
VOYAGE_API_KEY="tu-voyage-api-key"

# Modelo LLM
# 15 RPM | 250K TPM | 500 RPD
LLM_MODEL_NAME=google_genai:gemini-3.5-flash-lite
# LLM_MODEL_NAME=google_genai:gemini-3.1-flash-lite

# 5 RPM | 250K TPM | 20 RPD
# LLM_MODEL_NAME=google_genai:gemini-3.6-flash  
# LLM_MODEL_NAME=google_genai:gemini-3.7-flash
# LLM_MODEL_NAME=google_genai:gemini-3.8-flash

# Modelo de Embeddings (los modelos voyage son intercambiables)
EMBEDDING_MODEL_NAME=voyage-4
# EMBEDDING_MODEL_NAME=voyage-4-lite

# OCI Object Storage
# Si se deja vacío, el historial y el upload a OCI quedan deshabilitados
# pero el pipeline de generación funciona igual.
OCI_BUCKET_NAME=bkt-nuevamente
OCI_NAMESPACE=axyubmguih6z
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..aaaaaaaaf4xz4mnwxiwgacq6tgjfcug4aqtmctij4vswaru2fol7224f4paa
OCI_CONFIG_FILE=C:\Users\escor\oci\config
OCI_CONFIG_PROFILE=DEFAULT
